* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --azul:#0066FF;
  --azul-hover:#0056D8;
  --rojo:#FF2A3B;
  --rojo-hover:#FA1326;
}

#mensaje-error {
  background-color: #f6e3e4;
  color: #721c24;
  border: 1px solid #f5c6cb;
  padding: 10px;
  border-radius: 5px;
}

@font-face {
  font-family: "montserrat";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}

body {
  background-image: url("../img/wallpaper.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: montserrat;
}
/*Login*/
.login img {
  width: 190px;
  margin-bottom: 0.1em;
}

.login {
  display: grid;
  place-items: center; /* Centra en ambos ejes */
  height: 80vh;
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  padding: 2em;
  background-color: rgba(250, 250, 250, 0.7);
  box-shadow: 25px 25px 25px rgba(0, 0, 0, 0.5);
}
.login input[type="text"] {
  outline: none;
  width: 95%;
  background-color: rgba(250, 250, 250, 1);
  font-size: 1em;
  height: 3em;
  border: none;
  padding: 5px;
  margin: 1em;
  color: #000;
}

.bx {
  font-size: 30px;
  cursor: pointer;
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  float: left;
  width: 36px;
  height: 24px;
  left: -55px;
  top: -15px;
}
.img_index {
  width: 170px;
  height: 140px;
  margin: 0 auto;
}

.warnings {
  display: none;
  text-align: center;
  margin: 0 auto;
  color: #b80f22;
  padding-top: 1px;
  margin-top: 0;
}

.login input[type="password"] {
  outline: none;
  width: 95%;
  font-size: 1em;
  background-color: rgba(250, 250, 250, 1);
  height: 3em;
  border: none;
  padding: 5px;
  margin: 1em;
  color: #000;
}

.login input[type="submit"] {
  border: none;
  background-color: var(--azul);
  width: 95%;
  height: 3.5em;
  font-size: 1em;
  font-weight: bold;
  padding: 5px;
  margin: 1em;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.login input[type="submit"]:hover {
  background-color: var(--azul-hover);
  color: #fff;
  transform: translateY(-2px) scale(1.03);
}

footer {
  width: 100%;
  margin-top: 1em;
  background-color: #00000047;
  padding: 5px;
  text-align: center;
  color: #fff;
  font-family: "montserrat";
  font-size: 1.5em;
}

/*Index*/

/*Registro nota de remisión*/
.banner {
  width: 100%;
  height: 4em;
  background-color: var(--azul);
  position: fixed;
  top: 0;
}
.banner a {
  text-decoration: none;
  color: #fff;
}
.banner button {
  height: 70%;
  padding: 1em;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}
.banner button:hover {
  background-color: var(--azul-hover);
}
.select {
  width: 90%;
  cursor: pointer;
  height: 2.5em;
  padding: 5px;
  background-color: var(--azul);
  color: #FFF;
  font-weight: bold;
  border: 1px solid #87bdcd;
  transition: background-color 0.3s ease,
              border-color 0.3s ease,
              transform 0.3s ease;
  
}
.select option {
  background-color: var(--azul);
  color: #FFF;
  height: 2em;
}
.select option:focus {
  background-color: var(--azul-hover);
}
.select:hover {
  background-color:var(--azul-hover);
  border-color: var(--azul-hover);
  background-color: var(--azul-hover);
  border-color: var(--azul-hover);
}

/* Estilo para el ícono del desplegable */

/* Para personalizar la apariencia del select en Webkit (Chrome, Safari, etc.) */
.select::-webkit-dropdown-button {
  background-color: transparent;
  border: none;
}

/* Cambiar el color de fondo cuando el select está enfocado */
.select:focus {
  background-color: var(--azul);
  color: #fff;
}

.container {
  max-width: 800px;
  margin: auto;
}

.tabs {
  display: flex;
  justify-content: space-around;
  background: #000;
  padding: 10px;
  border-radius: 5px;
}

.tab {
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  padding: 10px 15px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.tab:hover {
  background: var(--azul-hover);
  border-radius: 5px;
}

.content {
  display: none;
  margin-top: 6em;
  margin-bottom: 5em;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.active {
  display: block;
}

label {
  display: block;
  font-weight: bold;
  margin-top: 10px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
.tablas_div{
  height: 350px;
  overflow: auto;
  border: 1px solid #c2c2c2;
  padding: 10px;
  margin: 1em;
}

table {
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

th {
  background: #000000;
  color: white;
}
.btn-quit {
  background-color: var(--rojo);
  margin-top: 10px;
  padding: 5px;
  color: #fff;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 2px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-quit:hover {
  background-color: var(--rojo-hover);
  font-weight: bold;
  
}
.btn-actualizarCliente{
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 2px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  background: var(--azul);
  color: white;

}
.btn-actualizarCliente:hover{
  background-color:var(--azul-hover);
  font-weight: bold;
}

.a_respaldo{
  text-decoration: none;

}

.btn {
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 2px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.edited {
  background-color: #d4edda; /* Color verde claro cuando se guarda */
}

.btn-add {
  background: var(--azul);
  color: white;
}

.btn-add:hover {
  background: var(--azul-hover);
}

.btn-save {
  background: var(--rojo);
  color: white;
}

.btn-save:hover {
  background: var(--rojo-hover);
}

.edit_registro{
  width: 40%;
  max-width: 500px;
  height: 300px;
  

}
.input_fecha{
  width: 50%;
}
.edit_registro p{
  padding: 0.2em;
}
.edit{
  display: none;
}
@media (min-width: 600px) {

  .login {
    width: 70%;
    margin-top: 2em;
  }

  .content {
    width: 80%;
    margin: 6em auto 5em;
  }

  .select {
    width: 20%;
  }

}

@media (min-width: 900px) {

  .login {
    width: 50%;
  }

  .content {
    width: 60%;
  }

}

@media (min-width: 1200px) {

  .content {
    width: 70%;
  }

  .input_fecha {
    width: 30%;
  }

  .select {
    width: 40%;
  }

}